body {
	background-color: #f6f8fb;
}

@media (min-width: 1200px) {
.container{
    width:450px;
}}

.header {
	background-color: #fafbfd;
}

.content.items {

}


.todo .item {
	margin: 7px 15px;
	padding: 15px;
	background-color: #ffffff;
	border-top: 3px solid #a0deb5;
	/*height: 100px;*/
	box-shadow: 0px 2px 1px #ddd;
}

.todo .item .title {
	color: #a0deb5;
}

.todo:nth-child(2n + 1) .item {
	border-top-color: #488af7;
}

.todo:nth-child(3n + 1) .item {
	border-top-color: #7d8795;
}

.todo:nth-child(2n + 1) .item .title {
	color: #488af7;
}

.todo:nth-child(3n + 1) .item .title {
	color: #7d8795;;
}