<!DOCTYPE html>
<html>
<head>
	<title>Todo app for eHealth Interview</title>
	<meta name="viewport" content="initial-scale=1">

	<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
	<body ng-app="eTodo" ng-controller="MainCtrl" ng-init="getAll()">
		<div class="container">
			<!-- <pre ng-bind="tasks|json"></pre> -->
			<div class="row">
				<div class="header col-xs-12">
					<div class="row">
						<div class="col-xs-4 col-xs-offset-4 text-center">
							<h3>eTodo</h3>
						</div>
						<div class="col-xs-4 text-right">
							<button style="font-size: 35px; color: #a1a1a1; outline: none; margin-right: 20px" data-toggle="modal" data-target="#todoModal">+</button>
						</div>
					</div>
				</div>

			</div>

			<div class="row todo" ng-repeat="task in tasks">
				<div class="content">
					<div class="row item">
						<h5 class="title" ng-bind="task.doc.title"> Check The main</h5>
						<span class="text-muted" ng-if="task.doc.completed">Completed</span>
						<span class="text-muted" ng-if="!task.doc.completed">Uncompleted</span>
						<p class="description" ng-bind="task.doc.description"> Check the main and see the man here</p>

						<span class="text-muted" ng-click="done($event)" data-doc-id="{{ task.doc._id }}" data-doc-rev="{{ task.doc._rev }}" ng-if="!task.doc.completed" style="color: #488af7; font-size: 12px">Done</span>
						<span class="text-muted" ng-click="delete($event)" data-doc-id="{{ task.doc._id }}" data-doc-rev="{{ task.doc._rev}}" style="color: tomato; font-size: 12px; margin-left: 5px;">Delete</span>
					</div>
					
				</div>	
			</div>
			<br>
			<br>

			<div class="row" ng-if="!tasks.length">
				<div class="col-xs-12 text-center">
					<p>No Task. <a data-toggle="modal" data-target="#todoModal">Add new</a></p>
				</div>
			</div>
			
		</div>

		<!-- Modal -->
		<div class="modal fade" id="todoModal" tabindex="-1" role="dialog" aria-labelledby="todoModalLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content" style="margin-top: 100px;">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h5 class="modal-title" id="todoModalLabel">Add task</h5>
		      </div>
		      <div class="modal-body">
		        <form name="todoForm">
		        	<div class="form-group">
					    <input type="hidden" class="form-control" placeholder="Title" ng-model="task._id">
					</div>
		        	<div class="form-group">
					    <input type="text" class="form-control" placeholder="Title" ng-model="task.title">
					</div>
					<div class="form-group">
					    <textarea class="form-control" placeholder="Description" ng-model="task.description"></textarea>
					</div>

					<div class="form-group">
						<input type="checkbox" name="" ng-model="task.completed">
						<span>Completed</span>
					</div>

		        </form>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
		        <button type="button" class="btn btn-primary" ng-click="create()">Save</button>
		      </div>
		    </div>
		  </div>
		</div>

		<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
		<script type="text/javascript" src="bower_components/bootstrap/js/modal.js"></script>
		<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
		<script type="text/javascript" src="bower_components/pouchdb/dist/pouchdb.js"></script>	
		<script type="text/javascript" src="bower_components/angular-pouchdb/angular-pouchdb.min.js"></script>
		<script type="text/javascript" src="js/index.js"></script>
	</body>
</html>